<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule \.(php)$ - [F,L]
</IfModule>

<FilesMatch "\.(php)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

Options -Indexes
